*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header  {
    
    border: 1px solid rgb(237, 31, 31);
    display: grid;
    grid-template-columns: 20% 20% 30% 10%;
    grid-template-rows: 100px 50px 200px;
    
    gap: 10px;
}
    
  
   
  
.div1   {
   
    border: 1px solid black;
}
